@font-face {
    font-family: Rubik;
    src: url(rubik.ttf);
}

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin display-flex-column-centered {
    @include display-flex-column;
    justify-content: center;
    align-items: center;
}

@mixin backdrop-filter-disabled {
    backdrop-filter: contrast(.75) brightness(.5);
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;

    &-corner {
        background-color: rgba(white, 0.1);
    }

    &-track {
        background-color: rgba(white, 0.1);
    }

    &-thumb {
        background-color: rgba(white, 0.2);
    }

    &-thumb:hover {
        background-color: rgba(white, 0.2);
    }
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: #111;
    user-select: none;
    @include display-flex-column;
    font-size: .875em;
}

body, button, input {
    font-family: Rubik;
    color: white;
}

button, input {
    font-size: inherit;
}

h1, h2, h3, h4, h5 {
    outline: none;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 1.75em;
    margin-block: .5rem;
}

h2 {
    font-size: 1.375em;
    margin: 1.5rem 0 .25rem;
}

p {
    line-height: 1.5;
    margin: .25rem 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

pre {
    font-size: 1.175em;
    margin: .5rem 0;
    line-height: 1.25;
    padding: .5rem;
    background: rgba(black, .25);
    border: 1px solid black;
    user-select: text;
    max-height: 15em;
    overflow: hidden scroll;
}

.field {
    display: flex;
    align-items: center;
    gap: .5rem;

    label:has(+ input) {
        flex: 0 0 7rem;
        text-align: right;
        margin-right: 1rem;
    }
}

input {
    border: none;
    outline: none;
}

input[type=text],
input[type=password] {
    background-color: rgba(white, .1);
    flex: 1;
    padding: .625rem 1rem;
    border-radius: 100rem;
    width: 0;
}

input[type=checkbox] {
    height: 1.25rem;
    aspect-ratio: 1;
}

button {
    padding: .75rem 1.25rem;
    min-width: 7rem;
    border-radius: 100rem;
    border: none;
    background-color: #333;
    filter: brightness(.875);

    &:hover {
        filter: brightness(1.125);
    }

    &:active:not(:disabled) {
        filter: brightness(1.325);
    }
}

.loading {
    display: block;
    background-image: url(loading.svg);
    background-size: 100%;
    height: 100%;
    aspect-ratio: 1;
}

#root {
    flex: 1;
    @include display-flex-column;
}

#root-content {
    flex: 1;
    overflow: hidden;
    @include display-flex-column;
}

#menu, #status {
    background-color: #222;
}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    @include backdrop-filter-disabled;
    transition: all .125s;
    pointer-events: none;
    opacity: 0;
}

#menu:has(li.visible) + #menu-overlay {
    pointer-events: all;
    opacity: 1;
}

#menu {
    font-size: .95em;
    flex: 0;
    z-index: 3;

    & > ul {
        display: flex;

        li {
            padding: .5rem;
            padding-bottom: .4rem;

            &.visible, &:hover {
                background-color: rgba(white, .2);
            }

            &.visible > ul {
                display: flex;
            }

            & > ul {
                margin: .4rem 0 0 -.5rem;
                display: none;
                flex-direction: column;
                position: absolute;
                gap: .125rem;
                background-color: #222;

                & > li {
                    padding-left: 1rem;
                    padding-right: 1rem;

                    &:hover {
                        background-color: rgba(white, .2);
                    }

                    &:active {
                        background-color: rgba(white, .4);
                    }
                }
            }
        }
    }
}

#status {
    flex: 0 0 1.25em;
    padding: 0 .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    z-index: 1;
    height: 0;
    animation: blink .5s ease infinite alternate;
    max-height: 0;
    padding-block: 0;
    transition: all .25s;
}

.disabled #status {
    max-height: 2.5rem;
    padding-block: .5rem;
}

[data-page] {
    flex: 1 0 0;
    overflow: hidden auto;
    @include display-flex-column;
    padding: 1.5rem;
    gap: 1.25rem;

    & > div:has(.loading) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include backdrop-filter-disabled;
        transition: all .25s;
        pointer-events: none;
        opacity: 0;

        & > .loading {
            height: 4rem;
        }
    }
}

.login-form {
    margin-block: auto;
    @include display-flex-column-centered;
    gap: .75rem;

    & > input {
        width: unset;
        text-align: center;
        width: 15rem;
        max-width: 100%;
    }
}

.disabled [data-page] > div:has(.loading) {
    pointer-events: all;
    opacity: 1;
}

[data-page=Page_Welcome] {
    gap: .75rem;

    li {
        margin: .5rem;
        padding: .5rem .5rem;
        background-color: rgba(white, .1);
        line-height: 1.5;
    }
}

[data-page=Page_Database] {

    .topbar {
        flex: 0 0 2rem;
        display: flex;
    }

    ul {
        flex: 1;
        overflow: hidden scroll;
        padding-right: .5rem;

        & > li {
            padding: .5rem;
            @include display-flex-column;
            gap: .125rem;
            border: 1px solid transparent;

            &:hover, &.selected {
                background-color: rgba(white, .1);
            }

            &.selected {
                border-color: rgba(white, .5);

                & > div + div {
                    display: flex;
                }

                & > div + div + pre {
                    display: flex;
                }
            }

            & > div,
            & > div + div > div {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            & > div + div {
                color: rgba(white, .5);
                display: none;

                & > div {
                    flex: 1;
                }

                & > div + div {
                    flex: 2;
                }
            }

            & > div + div + pre {
                display: none;
            }
        }
    }
}

:disabled,
li.disabled,
.disabled .interactable,
.disabled #menu {
    opacity: .5;
    pointer-events: none;
}

.update-available-message {
    padding: .25rem .75rem;
    background-color: #393939;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-shadow: 0 0 1rem white;

    button {
        animation: accent .5s infinite alternate;
        padding: .25rem .75rem;
        min-width: 0;

        &:hover {
            background-color: #222;
        }
    }
}

@keyframes blink {
    from {
        color: rgba(white, .5);
    }

    to {
        color: rgba(white, 1);
    }
}

@keyframes accent {
    0%, 75% {
        scale: 1;
        outline: 1px solid rgba(white, .25);
    }

    100% {
        scale: 1.1;
        outline: 1px solid rgba(white, .5);
    }
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    @include backdrop-filter-disabled;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    pointer-events: none;

    &, &-box {
        transition: opacity 120ms, scale 120ms;
    }

    &.visible {
        opacity: 1;
        pointer-events: all;

        .dialog-box {
            scale: 1;
        }
    }

    &-box {
        width: 20rem;
        max-width: calc(100vw - 2rem);
        max-height: calc(100vh - 2rem);
        overflow: hidden;
        background-color: #111;
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        scale: 1.05;

        &-title {
            padding: .625rem .75rem .5rem;
            background-color: #222;
        }

        &-content {
            padding: .75rem 1rem .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            overflow: auto;

            pre {
                background-color: #333;
                line-break: anywhere;
                text-wrap: wrap;
                overflow: auto;
                font-size: 1.31em;
                margin: 0;
            }

            button {
                padding: .5rem 1rem;
                min-width: 0;
            }
        }

        &-bottom {
            display: flex;
            gap: 1rem;
            padding: .25rem 1rem 1rem;

            button {
                padding: .5rem 1rem;
                min-width: 0;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button + button {
                background-color: transparent;
                flex: unset;
            }
        }
    }
}
